.book{
    background-color: #494747;
    padding-top: 2%;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    overflow: scroll;
}
button{
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
}
.pages{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .pgimg {
    box-shadow: 15px 10px 8px rgba(0, 0, 0, 0.3) ;
    max-width: 100%; /* Limit the image's width to the container's width */
    height: auto;   /* Allow the height to adjust to maintain the aspect ratio */
  }




/* Navrbar contents */
.navbar{
  background-color: #6f42c1;
  box-shadow: 0px 15px 9px rgba(0, 0, 0, 0.2);
}
.img{
  height: 40px;
  margin-right: 10px;
}
form{
  margin: 0px 8px ;
}

.d-flex{
    width: 70px;
}
input{
  text-align: center;
}
span{
  color: white;
  text-shadow: 2px 2px black;
}
@media screen and (orientation: landscape) {
  /* CSS styles for landscape orientation */

.pg{
  display: flex;
  margin-right: 25%;
  justify-content: center;
  flex-direction: row;
}
.pages > div{
  width: 49%;
}
.container-flid{
  margin-left: 2%;
}
.down{
  margin-right: 2%;
}
.ipgs-m{
  display: none;
}
}
@media screen and (orientation: portrait) {
  /* CSS styles for portrait orientation */
  
.pg{
  display: flex;
  margin-left: 36%;
  flex-direction: row;
}
.pages{
  display: flex;
  justify-content: center;
  width:60%
}

.container-flid{
  margin-left: 2%;
  width: 100vw;
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
}
.down{
  margin-right: 2%;
}
.ipgs{
  display: none;
}
}